/*-------------------
  #checkbox-a style
  ------------------*/

input[type='checkbox']#checkbox-a+label {
    border: 1px solid #fff;
    background: transparent;
    @include transition(0.5s, ease, all);
}

input[type='checkbox']#checkbox-a:checked+label {
    border: 1px solid #fff;
    background: #fff;
}