/*-------------------
  #checkbox-d style
  ------------------*/

input[type='checkbox']#checkbox-d+label {
    border: 1px solid $border-white;
    background-color: transparent;
    @include transition(0.8s, ease, border);
}

input[type='checkbox']#checkbox-d:checked+label {
    border-left: 10px solid $border-white;
    border-right: 10px solid $border-white;
    background: rgba(0, 0, 0, 0.5);
    @include transition(0.5s, ease, all);
}