/*-------------------
  #checkbox-w style
  ------------------*/

input[type='checkbox']#checkbox-w+label {
    border: 1px solid $border-white;
    background: transparent;
    overflow: visible
}

input[type='checkbox']#checkbox-w+label:before,
input[type='checkbox']#checkbox-w+label:after {
    position: absolute;
    opacity: 0;
    z-index: -1;
    @include transition(0.5s, ease, all);
}

input[type='checkbox']#checkbox-w+label:before {
    content: '';
    width: 1px;
    left: 0;
    right: 0;
    top: calc(100% + 3px);
    margin: auto;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $border-white;
}

input[type='checkbox']#checkbox-w+label:after {
    content: attr(data-input-value);
    width: 100%;
    display: block;
    padding: 5px 0;
    @include border-radius(4px);
    background-color: $background-white;
    color: $font-pink;
    @include custom-font($fs-small, $fw-400);
    text-align: center;
    text-transform: none;
    top: calc(100% + 10px);
    text-indent: 0;
    overflow: hidden;
}

input[type='checkbox']#checkbox-w:checked+label {
    background: $background-white;
}

input[type='checkbox']#checkbox-w:checked+label:before,
input[type='checkbox']#checkbox-w:checked+label:after {
    opacity: 1;
    z-index: 11;
    @include transition(0.25s, ease, all);
}