/*-------------------
  #checkbox-x style
  ------------------*/

input[type='checkbox']#checkbox-x+label {
    background: transparent;
    border-top: 5px solid $border-white;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

input[type='checkbox']#checkbox-x+label:before,
input[type='checkbox']#checkbox-x+label:after {
    content: '';
    height: 5px;
    right: 0;
    position: absolute;
    background: $background-white;
    @include transition(0.2s, ease, all);
}

input[type='checkbox']#checkbox-x+label:before {
    top: 10px;
    width: 25px;
}

input[type='checkbox']#checkbox-x+label:after {
    top: 25px;
    width: 15px;
}

input[type='checkbox']#checkbox-x:checked+label {
    border-top: 0px solid transparent;
}

input[type='checkbox']#checkbox-x:checked+label:before,
input[type='checkbox']#checkbox-x:checked+label:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 5px;
}

input[type='checkbox']#checkbox-x:checked+label:before {
    transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
}

input[type='checkbox']#checkbox-x:checked+label:after {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}