/*-------------------
  #checkbox-s style
  ------------------*/

input[type='checkbox']#checkbox-s+label {
    border: 1px solid $border-white;
    background: tranparent;
    @include border-radius(10px);
}

input[type='checkbox']#checkbox-s+label:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    background: $background-pink;
    @include border-radius(2px);
    @include transition(0.4s, ease, all);
}

input[type='checkbox']#checkbox-s:checked+label:before {
    background: $background-white;
    @include border-radius(50%);
}