// Create mixin for font-weight and font-size properties
@mixin custom-font($fontsize, $fontweight) {
    font-weight: $fontweight;
    font-size: $fontsize;
}

// Create mixin for transition property
@mixin transition($time, $type, $property) {
    transition: $time $type $property;
    -moz-transition: $time $type $property;
    -webkit-transition: $time $type $property;
}

// Create mixin for transition property with transition dela
@mixin transition-with-delay($tim, $dela, $typ, $propert) {
    transition: $tim $dela $typ $propert;
    -moz-transition: $tim $dela $typ $propert;
    -webkit-transition: $tim $dela $typ $propert;
}

// Create mixin for border-radius property
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

// Create mixin for transition property
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}