// create gradiant 
@mixin gradiant(){
background: rgba(203,96,179,1);
background: -moz-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(209,81,174,1) 35%, rgba(219,54,164,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,96,179,1)), color-stop(35%, rgba(209,81,174,1)), color-stop(100%, rgba(219,54,164,1)));
background: -webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(209,81,174,1) 35%, rgba(219,54,164,1) 100%);
background: -o-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(209,81,174,1) 35%, rgba(219,54,164,1) 100%);
background: -ms-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(209,81,174,1) 35%, rgba(219,54,164,1) 100%);
background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(209,81,174,1) 35%, rgba(219,54,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );
}

// Create mixin for font-weight and font-size properties
@mixin custom-font($fontsize, $fontweight) {
    font-weight: $fontweight;
    font-size: $fontsize;
}

// Create mixin for transition property
@mixin transition($time, $type, $property) {
    transition: $time $type $property;
    -moz-transition: $time $type $property;
    -webkit-transition: $time $type $property;
}

// Create mixin for border-radius property
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

// Create mixin for transition property
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

// Create mixin for vibrate keyframe
@mixin vibrate() {
    @keyframes vibrate {
        0% {
            transform: rotateZ(10deg)
        }
        50% {
            transform: rotateZ(-10deg)
        }
        75% {
            transform: rotateZ(10deg)
        }
        100% {
            transform: rotateZ(-10deg)
        }
    }
    @-webkit-keyframes vibrate {
        0% {
            transform: rotateZ(10deg)
        }
        50% {
            transform: rotateZ(-10deg)
        }
        75% {
            transform: rotateZ(10deg)
        }
        100% {
            transform: rotateZ(-10deg)
        }
    }
    @-moz-keyframes vibrate {
        0% {
            transform: rotateZ(10deg)
        }
        50% {
            transform: rotateZ(-10deg)
        }
        75% {
            transform: rotateZ(10deg)
        }
        100% {
            transform: rotateZ(-10deg)
        }
    }
}

// Create mixin for jump-up keyframe
@mixin jump-up-keyframe() {
    @keyframes jump-up {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes jump-up {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-moz-keyframes jump-up {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
}

// Create mixin for jump-down keyframe
@mixin jump-down-keyframe() {
    @keyframes jump-down {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes jump-down {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-moz-keyframes jump-down {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
}

// Create mixin for ring keyframe
@mixin ring-keyframe() {
    @keyframes ring {
        0%,
        100% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-30deg);
        }
        10% {
            transform: rotate(25deg);
        }
        15% {
            transform: rotate(-25deg);
        }
        20% {
            transform: rotate(20deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }
        45% {
            transform: rotate(0deg);
        }
    }
    @-webkit-keyframes ring {
        0%,
        100% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-30deg);
        }
        10% {
            transform: rotate(25deg);
        }
        15% {
            transform: rotate(-25deg);
        }
        20% {
            transform: rotate(20deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }
        45% {
            transform: rotate(0deg);
        }
    }
    @-moz-keyframes ring {
        0%,
        100% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-30deg);
        }
        10% {
            transform: rotate(25deg);
        }
        15% {
            transform: rotate(-25deg);
        }
        20% {
            transform: rotate(20deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }
        45% {
            transform: rotate(0deg);
        }
    }
}