////////////////////
/// Typhography ///
//
// Font Family
$font-family: Montserrat;
//
// Font Weights
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
//
// Font Size
$fs-small: 12px;
$fs-medium: 14px;
$fs-default: 16px;
$fs-large: 18px;
$fs-extra-large: 24px;
//
////////////////////
///    colors   /// 
//
// Base Colors
$white: #fff;
$black: #000;
$gray: #333;
$puple: #b95ed5;
//
// Text Colors
$font-white: $white;
$font-black: $black;
$font-gray: $gray;
$font-puple: $puple;
//
// Background Colors
$background-white: $white;
$background-black: $black;
$background-gray: $gray;
$background-puple: $puple;
//
// Border Colors
$border-white: $white;
$border-black: $black;
$border-gray: $gray;